<!-- Header -->
<header>
    <div class="sb-page-header pt-3 pb-3 bg-gradient-dark">
        <nav class="navbar ml-3 mr-3 navbar-light bg-transparent justify-content-end">
          <a class="btn btn-light" href="{{ site.baseurl }}/nuevo.html">+ Añadir</a>
        </nav>
        <div class="container text-center">
          <div class="row">
            <div class="col col-lg-12 col-sm-12">
            <h1><a class="text-white" href="/">Periodistas de datos</a></h1>    
            <h4>Una lista de profesionales en España y Latinoamérica.</h4>
            </div>
        <div class="col-lg-12 mb-2" id="search-demo-container">
            <div class="filter-parent" id="search">
            <label for="filter-by"></label>
            <input type="text" placeholder="Buscar periodistas" id="search-input" class="form-control input-lg" tabindex="1">
            </div>
        </div>
        <div class="col col-lg-12 col-sm-12">
            <p class="small text-light"><a class="text-white" href="{{ site.baseurl }}/redaccion.html">#redacción </a><a class="text-white" href="/academia.html"> #academia</a><a class="text-white" href="/proyectos.html"> #proyectos</a><a class="text-white" href="/desarrollo.html"> #desarrollo</a><a class="text-white" href="/visualizacion.html"> #visualización</a><a class="text-white" href="/verificacion.html"> #verificación</a><a class="text-white" href="/transparencia.html"> #transparencia</a><a class="text-white" href="/investigacion.html"> #investigación</a><a class="text-white" href="/analisis.html"> #análisis</a></p>
        </div>
        </div>
        </div> 
    </div>
</header>
    <div class="nav-scroller bg-white box-shadow">
      <nav class="nav nav-underline justify-content-center">
        <a class="nav-link" href="/">Inicio</a>
        <a class="nav-link" href="/acerca.html">Acerca</a>
        <a class="nav-link" href="/contacto.html">Contacto</a>
      </nav>
    </div>
