<!DOCTYPE html>
<html lang="es">

  {% include head.html %}

  <body class="bg-light">

    {% include header.html %}


    <main role="main" class="container m-b-4" style="padding-top: 25px">

    <div class="row g-5">
        {{ content }}
    </div>    
        
  <button type="button" class="btn btn-dark" onclick="topFunction()" id="myBtn" title="Subir">^</button>

    </main><!-- /.container -->

    {% include footer.html %}

    <!--startjs-->
    {% include js-custom.html %}
    <!--endjs-->

  </body>

</html>
